<?php
/**
 * CakePHP(tm) : Rapid Development Framework (https://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (https://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (https://cakefoundation.org)
 * @link          https://cakephp.org CakePHP(tm) Project
 * @since         0.10.0
 * @license       https://opensource.org/licenses/mit-license.php MIT License
 */

$cakeDescription = 'CakePHP: the rapid development php framework';
?>
<!DOCTYPE html>
<html>
<head>
    <?= $this->Html->charset() ?>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <?= $cakeDescription ?>:
        <?= $this->fetch('title') ?>
    </title>
    <?= $this->Html->meta('icon') ?>
<<<<<<< HEAD

    <?= $this->Html->css('base.css') ?>
    <?= $this->Html->css('style.css') ?>
=======
    <?= $this->Html->css('//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')?>
    <?= $this->Html->css('base.css') ?>
    <?= $this->Html->css('style.css') ?>
    <?= $this->Html->script("https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")?>
>>>>>>> vương

    <?= $this->fetch('meta') ?>
    <?= $this->fetch('css') ?>
    <?= $this->fetch('script') ?>
<<<<<<< HEAD
=======
    <?=$this->Html->script(["http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js","https://code.jquery.com/ui/1.12.1/jquery-ui.js"])?>

>>>>>>> vương
</head>
<body>
    <nav class="top-bar expanded" data-topbar role="navigation">
        <ul class="title-area large-3 medium-4 columns">
            <li class="name">
                <h1><a href=""><?= $this->fetch('title') ?></a></h1>
            </li>
<<<<<<< HEAD
        </ul>
        <div class="top-bar-section">
            <ul class="right">
                <li><a target="_blank" href="https://book.cakephp.org/3.0/">Documentation</a></li>
                <li><a target="_blank" href="https://api.cakephp.org/3.0/">API</a></li>
            </ul>
        </div>
    </nav>
=======

        </ul>
        <div class="top-bar-section">
            <ul class="right">

                <li><?= $this->Html->link("Login",["controller"=>"Users","action"=>"login"]);?></li>
                <li><a><?php if(isset($user)) echo $this->Html->link("LogOut",["controller"=>"Users","action"=>"logout"]); else echo $this->html->link("Register",["controller"=>"Users","action"=>"add"])?></a></li>
            </ul>
        </div>
    </nav>

>>>>>>> vương
    <?= $this->Flash->render() ?>
    <div class="container clearfix">
        <?= $this->fetch('content') ?>
    </div>
    <footer>
    </footer>
<<<<<<< HEAD
=======
<?=$this->Html->script("hanleUser")?>

>>>>>>> vương
</body>
</html>
